body {
  font-family: "IRANSansX", sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}
.fa-num {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

nav.navbar {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 10;
}
nav .container{
  height: 3em;
}
nav img {
  height: 100%;
}

.navbar-brand {
    font-weight: 900;
}

.navbar + .container {
    margin-top: 6em !important;
}

.ltr {
    text-align: left;
}
