# Server
PORT=3000
CORS_ORIGIN=http://localhost:3000

# Database
DB_TYPE=sqlite3                    # or mysql, pg, mssql
DB_CONNECTION=./db/vdja.db         # for sqlite and for others must be connection string

# vLLM & Services
VLLM_URL=http://localhost:8000
VLLM_MODEL=targoman
QDRANT_URL=http://localhost:6333
EMBEDDING_URL=http://localhost:8001

# Optional OpenID Connect 
#OPENID_ISSUER=https://your-duende-server.com
#OPENID_CLIENT_ID=your-spa-client-id
#OPENID_CLIENT_SECRET=your-client-secret  # برای confidential client
#OPENID_CALLBACK_URL=http://localhost:3000/api/auth/callback
#SESSION_SECRET=very-strong-secret-he